<!doctype html>

<html>
	<head>
		<title>Personality Survey</title>
		<link rel=stylesheet href="/static/css/bootstrap.min.css" type="text/css">
		<link rel=stylesheet href="/static/css/style.css" type="text/css">
	</head>
	<body>
		<div id="container-ad">

			<div id="ad">
				<div class="row">
					</div>
					<div class="col-xs-10">
						<h1>Debugging task complete!</h1>
						<hr>
					    <div class="alert alert-warning">
					    	If this was a real HIT, the data would be saved now and the HIT submitted to Amazon's Mechanical Turk Marketplace.
					    </div>
					</div>
			</div>
		</div>
	</body>
</html>