<!doctype html>


<html>
<head>
	<title>Personality Survey - Debriefing</title>
	<link rel="stylesheet" href="/static/css/task.css" type="text/css" media="screen">
</head>
<body>
	<div id="debriefing">
		<h1>Debriefing</h1>

		<div id="debriefingtext">
		<p>Thank you for your participation!  You've made an
		important contribution to our understanding of personality and personality assessment. </p>

		<p>
			The goal of this research is to develop a more accurate personality test, by looking at the objective frequencies of behaviors associated with personality traits. Additionally, this research is testing how 'humility' influences ones personality and vice versa. Both 'humility' and the personality constructs in question represent just one attempt to measure them.
		</p>
		<p>
			Please do not tell anybody who hasn't taken the survey about this research, as it may confound results
		</p>
		
		<p>If you have any questions or comments about this research, you may contact the
		principal investigator at e.warfel@gmail.com</p>

		<p>
		</div>
				<form id='completion' action ='complete' method = 'post' >

						 <button type="submit" id="Finish" value="Finish" class="btn btn-sucess btn-lg" form="completion">Click here to finish</button>


	
					</form>
			</div>
	</div>
</body>

</html>
