<div id="container-questionnaire">
    <h1>Task Complete</h1>

    <hr>

    <p>You are finished!  Thank you for your contributions to personality science. You will be eligible for full payment once you answer the following questions.</p>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">


            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    [Required] Please indicate your gender:
                </div>
                <div class="col-md-4">
                    <select id="engagement" name="engagement" required>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <!-- text area or input?-->
            <div class="row question">
                <div class="col-md-8">
                    [Required] Please indicate your age:
                </div>
                <div class="col-md-4">
                    <input id="age" min="18" step="1" type="number" required/> 
                </div>
                <!--look at boostrap to add unstructured-->
            </div>
            <!-- end of a question -->




            <!--to change into text -->
             <div class="row question">
                <div class="col-md-8">
                    Optional comments / feedback:
                </div>
                <div class="col-md-4">
                    <textarea id="comments" placeholder="your comments go here"></textarea>
                </div>
                <!--look at boostrap to add unstructured-->
            </div>






        </form>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="submit" id="next" value="next" class="btn btn-primary btn-lg continue" form="postquiz">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
