
body {
	padding: 0;
	margin: 0;
	background-color: white;
	color: black;
	font-weight: 300;
	font-size: 13pt;
}


/* text styling */
strong {
	font-weight: 600;
}

.warm {
	color: steelblue;
	text-align: justify;
}

.cool {
	color: #ccccff;
}


/* these are all the same for now, but easy to modify individually */
#container-ad,
#container-error,
#container-exp,
#container-consent,
#container-instructions,
#container-questionnaire {
		position: absolute;
		top: 0; /* Header Height */
		bottom: 0; /* Footer Height */
		left: 0;
		right: 0;
		padding: 100px;
		padding-top: 5%;
		border: 18px solid #f3f3f3;
		background: white;
}

#container-consent,
#container-exp {  /* override padding to fit long consent forms and exp display*/
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 1%;
}

/* ad.html  - the ad that people view first */
#adlogo {
	float: right;
	width: 140px;
	padding: 2px;
	border: 1px solid #ccc;
}

/* consent.html - the consent form */
#consent {
	margin: 0 auto;
	margin-top: 0;
	width: 800px;
	font-size: 100%;
}

.legal {
	text-align: justify;
	font-size: 11pt;
	line-height: 1.1em;
}

#trial {
	margin: 0 auto;
	width: 800px;
	text-align: center;
}

#query {
	color: black;
}

.question {
	margin-bottom: 30px;
}

/* errors */
#error img {
	padding-right: 10px;
	padding-top: 15px;
}

.phased-questions { margin-top: 24px; margin-bottom: 24px; }

.phased-questions .slider { margin-bottom: 32px; }
.phased-questions .slider .noUi-handle { cursor: pointer; }
.phased-questions .has-success .slider .noUi-handle { background-color: #3c763d; box-shadow: inset 0 0 1px #fff, inset 0 1px 7px rgba(255,255,255,0.3), 0 3px 6px -3px rgba(255,255,225,0.5); }
.phased-questions .noUi-pips .noUi-value { display:none;}
/*.phased-questions .noUi-pips .noUi-marker-normal {display:none;} */

.phased-questions .labels { position: relative; height: 40px; }
.phased-questions .labels .label { position: absolute; padding: 0; width: 20%; display: block; white-space: normal; color: #333; font-size: 95%; }
.phased-questions .labels .left { text-align: center; }
.phased-questions .labels .center { text-align: center; left:50%; margin-left:-10%; }
.phased-questions .labels .right { text-align: center; left: 80%; }

.phased-questions .instructionsnav { text-align: center; }
.phased-questions nav { text-align: right; }


