<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        
        <div class="instructions well" style="max-height:80%;overflow-y:scroll">

       <p>
         - The first 100 questions are a standard personality survey. The last 30 or so questions measure a few new psychological constructs.
         </p>
        
         <p>
         -Your answer choices will change at various points in the survey.
         </p>
         <p>
         -You must answer all questions to be credited. The only optional question is the comment box at the very end.
         </p>   
         <p>
         -The website powering this survey can detect random or nonsense answers, and such results will not be credited.  You must answer all questions to be paid for this HIT.
         </p>
         <p>
         -Lastly, there are no 'right' or 'wrong' answers. No choice is better or worse than any other- Just answer according to how you act.
     </p>


    <p>
        <strong> Example questions </strong>
    </p>
        
        
         <img src= "../static/screenshot.png" alt="sample slider and questions" style="width: 100%">

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
