<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

	    <p>
		    In this HIT, you will be asked to complete a personality survey. Intially, Each question requires you to estimate how frequently certain behavioral statements apply to you. Near the end, you will be asked about how much you 'agree' or 'disagree' with various statements.
	    </p>
	    
	    <p>
	       The questions use sliders; they will turn green when you click on them. To leave a slider in the middle, just click on it.

        </p>
        <p>
         An example question could be "I eat cake....", and the answer could be a slider ranging from "Everyday" to "Once a Month", with "Once a week". Your job is to move the slider to where you it most captures how you live.
            
        </p>

        <p>
            The website powering this survey can detected random and psychologically impossible answers-such results will not be credited. You must answer all questions to be paid for this HIT.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
