<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
            The first 100 questions are a new variation of a standard personality survey. The last 20 or so questions measure a few new psychological constructs.
        </p>

        <p>
            The last 20 or so questions may contain statements you disagree with or find controversial. Please mark the answers that best reflect you and your opinions.
        </p>
        <p>
            If a particular statement seems to apply to you more or less than the labels provide, just move the slider all the way to the appropriate end.
            
        </p>

        <p>
            There are no 'right' or 'wrong' answers-Just answer according to how you act.
        </p>

        <p>
            At the very end, you will be asked to provide your age and your gender. There will be an optional box for comments too.
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
