<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">
        <p>
            <strong>PLEASE READ ALL INSTRUCTIONS - ONLY COMPLETED SURVEYS WILL BE CREDITED</strong>
        </p>

	    <p>
		   - In this HIT, you will be asked to complete a personality survey. 
        </p>

        <p>
	      - The questions use sliders; they will turn green when you click on them.
        </p>

          <p>
          - Click anywhere on the slider- the indicator will move to where you've clicked. Alternatively, you can drag the indicator along. 
          </p>

        <p>
          - To leave a slider in the middle, just click on it.
          </p>

          <p>
          - The sliders are set up so that if you need to, you can go past the left-most or right-most label - see the example at the bottom of the next page.
        </p>
        
        




  
            
       
            
       

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
