<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">
        <p>
            <strong>PLEASE READ ALL INSTRUCTIONS - ONLY COMPLETED SURVEYS WILL BE CREDITED</strong>
        </p>

	    <p>
		   - In this HIT, you will be asked to complete a personality survey. 
        </p>

        <p>
	      - The questions use sliders; they will turn green when you click on them.
        </p>

          <p>
          - Click anywhere on the slider- the indicator will move to where you've clicked. Alternatively, you can drag the indicator along. 
          </p>

        <p>
          - To leave a slider in the middle, just click on it.
          </p>

          <p>
          - The sliders are set up so that if you need to, you can go past the left most or right most label - see the example at the bottom of this page.
        </p>
        
        <p>
         - The first 100 questions are a new variation of a standard personality survey. 
         </p>
         <p>
         -The last 20 or so questions measure a few new psychological constructs.
         </p>
         <p>
         -Your answer choices will change at various points in the survey
         </p>
         <p>
         -You must answer all questions to be credited. The only optional question is the comment box at the very end.
         </p>   
         <p>
         -The website powering this survey can detected random and psychologically impossible answers-such results will not be credited. You must answer all questions to be paid for this HIT.
         </p>
         <p>
         -There are no 'right' or 'wrong' answers. Just answer according to how you act.
     </p>


    <p>
        <strong> Example questions </strong>
    </p>
        <p>
         An example question could be "I eat cake....", and the answer could be a slider ranging from "Everyday" to "Once a Month", with "Once a week". Your job is to move the slider to where you it most captures how you live.
         (Below is a screenshot)  
         </p>  



  
            
       
            
       

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
